.container {
    max-width: 1000px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.form > * {
    width: 200px;
    margin: 10px 20px !important;
}

.button {
    margin-bottom: 50px !important;
    margin-left: 20px !important;
}

.generatedCode {
    word-break: break-all;
    background-color: lightgray;
    border: solid darkgray 2px;
    border-radius: 3px;
    padding: 20px;
}